<!DOCTYPE html>
<html lang="en">
  <head>
  	<script src="deleteSessions.js"></script>
  	<script src="inactivityHandler.js"></script>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Home page</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css"
      rel="stylesheet"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <div class="col-12 text-center">
        <form method="post" action="logout">
          <div class="h4 font-weight-bold">
            Hello <span class="font-italic font-weight-light">$username$</span>!
          </div>
          <br />
          <button class="btn btn-sm btn-danger" type="submit">Sign out</button>
          <br />
          <br />
          <div>
           <button type="button" class="btn btn-secondary btn-sm d-none" id="endSessions" onclick="endOtherSessions()"> End other sessions
            </button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
